body {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 1.5;
background: linear-gradient(to right, #333399, #ff00cc);
}

section{
  margin:50px auto;
}

@media screen and (min-width:528px){
  section{
    max-width: 500px;
  }
}

@media screen and (min-width:998px){
  section{
    max-width: 970px;
  }
}

@media screen and (min-width:1440px){
  section{
    max-width: 1400px;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ff00cc; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



