#transform-area{
    perspective:400px;
    background-color: black;
    height:100vh;
}

.quadrato{
    height:100px;
    width:100px;
    background-color:red;
    
}

#n1{
    transform: rotate(45deg);
}