.receiver{
  background-color: rgb(218, 152, 152);
}

.sender
{
  background-color: rgb(131, 131, 245);
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
