*{
  box-sizing: border-box;
}



.post-form {
  width:100%;
  max-width:400px;

  .form-field {
    width: 100%;
  }

  button{
    color:white;
    background-color: #004a9f;
  }

  button:disabled{
    background-color: #ccc;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .preview{

    img{

      padding-top:5px;
      width:100%;
    }

  }
}







@media screen and (min-width:576px){
  .post-form{
    max-width: 500px;
  }

  }

  @media screen and (min-width: 992px) {

  .post-form{
    max-width: 600px;
  }


  }
