<mat-card class="mat-elevation-z10 post-form">
  <mat-card-content>

    <form autocomplete="off">

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Post Title</mat-label>
        <input matInput appearance="standard" [(ngModel)]="currentPost.title" type="text" name="title"
          placeholder="Title">
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Post content</mat-label>
        <textarea matInput appearance="standard" [(ngModel)]="currentPost.text" type="text" name="content"
          placeholder="Content"></textarea>
      </mat-form-field>

      <label *ngIf=" formAction != 'edit' " class="custom-file-upload">
        <span>Immagine</span>
        <div class="preview" *ngIf="imgPreview">
          <img [src]="imgPreview.url">
        </div>
        <input type="file" value="select" #selectFile (change)="onFileSelected($event)">
      </label>

    </form>

    <button *ngIf=" formAction == 'create' " [disabled]="isInvalid()" mat-raised-button (click)="sendPost()">Create
      Post</button>
    <button *ngIf=" formAction == 'edit' " [disabled]="isInvalid()" mat-raised-button (click)="editPost()">Edit
      Post</button>

  </mat-card-content>
</mat-card>


<!-- <mat-toolbar color="primary">
  <button mat-raised-button>Home</button>
  <button mat-raised-button>Add new Product</button>
</mat-toolbar> -->
