*{
  box-sizing: border-box;
}

:host {
  width: 100%;
}

.opener{
  position: fixed;
  right:0;
  top:0;
  background-color: #ffffff;
  color:#004a9f;
}

.comment-opener{
  position: fixed;
  right:0;
  top:0;
  background-color: #ffffff;
  color:#004a9f;
}



app-post-form{
  display: flex;
  justify-content: center;
  position:sticky;
  z-index: 1;
  top:0;
}

app-post-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

app-post-comments{
  width:100%;
}


@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {

  .opener{
    position: fixed;
    top:auto;
    bottom: 20px;
    right:20px;
    background-color: #004a9f;
    color:white;
  }

}

