/* IMPOSTAZIONI GENERALI */
html{
    font-size: 62.5%;
 }
 
body{
    font-family: 'Fira Sans', sans-serif;
    font-size:1.5rem;
}

h1{
    font-size: 4rem;
    line-height:1;
    margin:20px;
}
h2{
    font-size: 3.5rem;
    line-height: 1;
    margin:20px;
}

h4{
    font-size: 2.5rem;
    margin:20px;
}

p{
    line-height: 1.8;
}

.button{
    text-decoration: none;
    display: inline-block;
    line-height: 2;
    color:white;
    padding: 10px;
    background-color: blue;
    background: linear-gradient(90deg, #6cc1e2 0%, #392f7a);
    
}
*{box-sizing: border-box;}
/* HEADER */

header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

header nav li a {
    color:black;
    text-decoration: none;
}

header{
        display:flex;
        justify-content: space-between;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 4px 4px #d3d3d3;
        
}

/* MAIN */

main :not(.box1) {
    text-align: center;
    padding:0 20px;
    
}


.box1{
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 3px black;
}

.box1 h1, .box1 p{
    width:80%;
    margin: 0 auto;
}

.box2 .icona-titolo-testo{
    padding: 20px;
}



.box3{
    color:white;
    background-color: #0c0633;
    margin-bottom: 30px;;

}
.box3 h2, .box3 p{
    padding-top:20px;
}
.box3 h2, .box3 p, .box3 div{
    margin:20px;
}



 img{
    width:100%;
    max-width: 426px;
}


.icona-titolo-testo i{
    color:#e42424;
    font-size:2em;
}

.box6{
    margin:20px;
}

.contatti fieldset{
    display:flex;
    flex-direction:column;    
}

.contatti input {
    height: 50px;
    margin:5px;
}

.contatti textarea{
    margin:5px;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 1em;
}
caption {
    font-size: 2.5rem;
}
tbody tr:nth-child(odd) {
    background-color: #d2dce7;
}

@media screen and (max-width:768px) {

    /* OK, guardando la soluzione capisco come è stata fatta la tabella, ma utilizzare content: attr(title) per inserire nella versione mobile il titolo come un ulteriore colonna è qualcosa che non mi sarei mai immaginato :\  */
    
    thead {display: none;}
    td {
        display: flex;
        text-align: left;
        padding: 5px;
    }
    td::before {
        content: attr(title);
        font-weight: bold;
        min-width: 120px;
        padding-right: 5px;
    }
}
/* FOOTER */

footer{
    margin-top: 30px;
    padding:20px;
    background-color: rgb(238,238,238);
}
footer p{
    line-height: 1;
}

footer h4{
    font-size:2rem;
    margin: 1em 0;
}
footer nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
}

footer fieldset {
    display: flex;
    flex-direction: column;

}

footer input {
    font-size: 2em;
    padding:5px;
    width: 100%;
}
footer i{
    color:#e42424;
    font-size:2em;
}

/* RESPONSIVE */

@media screen and (min-width:768px) {

    html{font-size: 70%;}
    .box4, .box6{
        display: flex;
        justify-content:space-evenly;
    }
    .box4 img{
     width:50%;
          
    }


    .box2{
        display:flex;
        flex-direction: row;
    }

  
    
    .box5, .box7{
        display: flex;
        justify-content: space-between;
    }

    th {
        background-color: rgb(95, 130, 163);
        color: white;
        text-transform: uppercase;
    }
    
}

@media  screen and (min-width:1024px) {
    
    header, .box4, .box6, .box5, .box7{
        justify-content: space-evenly;
    }
}



/* Contatti*/


