body {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 1.5;
background: linear-gradient(to right, #333399, #ff00cc);
}

section{
  margin:50px auto;
}

@media screen and (min-width:528px){
  section{
    max-width: 500px;
  }
}

@media screen and (min-width:998px){
  section{
    max-width: 970px;
  }
}

@media screen and (min-width:1440px){
  section{
    max-width: 1400px;
  }
}



