body {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 1.5;
background: linear-gradient(to right, #333399, #ff00cc);
}

h1{
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  padding: 0;
  margin: 0;
}


section{
  margin:50px auto;
}

@media screen and (min-width:528px){
  section{
    max-width: 500px;
  }
}

@media screen and (min-width:998px){
  section{
    max-width: 970px;
  }
}

@media screen and (min-width:1440px){
  section{
    max-width: 1400px;
  }
}



