#main-header{
    height:70px;
    background-color:purple;
    position:fixed;
    width:100%;
}

#content-area{
    padding-top:70px;
}

#btt{
    background-color:purple;
    color:white;
    width:50px;
    height:50px;
    bottom:15px;
    right:15px;
    position: fixed;
    text-align:center;
    line-height: 50px;;
}

#popup{
    position:fixed;
    background-color: #fff;
    height:300px;
    top: 10vh;
    left:10%;
    right:10%;
    outline: 10px solid rgba(0,0,0,0.6)
}