.area-blocchi{
    margin-top:300px;
    position:relative;
}
.fascia{
    background-color: #ccc;
    height: 100px;
    border: 1px solid #000;
    margin: 10px 0;
    text-align: center;
}

#elemento-absolute{
    position: absolute;
    top: -30px;
    width: 100%;
}
/*esercizio 2*/
#area-blu{
    background-color:blue;
    height: 600px;
}

.blocco{
    background-color:red;
    width: 100px;
    height: 100px;
}

.blocco-colorato{
    width:200px;
    height:200px;
    border: 1px dashed black;
    position:absolute;
    
}

.blocco-colorato:nth-of-type(1){
    background-color:red;
    z-index: 1;

}

.blocco-colorato:nth-of-type(2){
    background-color:yellow;
    z-index: 2;
    left: 100px;
    top: 100px;
}

.blocco-colorato:nth-of-type(3){
    background-color:orange;
    z-index: 3;
    left: 200px;
    top: 200px;
}



.blocco-colorato:nth-of-type(4){
    background-color:green;
    z-index: 4;
    left: 300px;
    top: 300px;
}

.blocco-colorato:nth-of-type(5){
    background-color:blue;
    z-index: 5;
    left: 400px;
    top: 400px;
}

.blocco-colorato:nth-of-type(6){
    background-color:purple;
    z-index: 6;
    left: 500px;
    top: 500px;
}
.container{
    width:1000px;
    margin: 0 auto;
    position: relative;
}