@font-face{
    font-family:mioFont;
    src:url("../webfont/ufonts.com_tw-cen-mt.ttf") format("truetype");
}

html{
    font-size:20px;
}

h1{
    font-size:1rem;
}

h2{
    font-size:2rem;
}

h2 span{
    font-size:2em;
}

h3{
    font-family: mioFont;
}

h4{
    text-transform: uppercase;
    text-align: center;
}

h5{
    text-indent:30px;
}

p{
    line-height: 2rem;
    letter-spacing: 5px;
    text-shadow: 4px 4px 3px #000;
}

p:first-letter{
    color: red;
    font-size: 3rem;
}

