@import 'variables';

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import 'functions';

@mixin font($prop, $val) {
    font-#{$prop}: $val;
}

* {
    @include font ('size', 1rem);
    @include font ('family', 'Helvetica');
}

.divisore{
    height:300px;
}

.navbar {
    .contrast {
        color: contrast($oxford-blue);
    }
}

#Home {
    margin-top: 0px;
    height: 1000px;
    background-image: url('../img/sezioneInEvidenza.jpg');
    background-position: center;
    background-size: cover;

    div {
        background-color: rgba(255, 255, 255, 0.4);

        h1 {
            text-shadow: 1px 1px 4px white;
        }

        p {
            color: contrast(rgba(255, 255, 255, 0.4));
            text-shadow: 0px 0px 5px white;
            font-size: 2rem;
        }
    }
}

#Partnership {

    div {
        background-color: white;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
    }
}


.carousel-item {
    height: 775px;

    .imgCarousel {
        max-width: 300px;
    }

    @media screen and (min-width: 768px) {
        height: 525px;
    }
}