.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

section{
  display:flex;
  justify-content: center;
  mat-card{
    width:500px;
    margin:50px 20px;
    div{
      margin:5px;
    }
    p{
      margin:10px;
    }
  }
}
