/* IMPOSTAZIONI GENERALI */
html{
    
}
body{
    font-family: sans-serif;
    font-size: 1.5vh;
    line-height: 1.5;
}
hr{
    display:none;
}

/* HEADER */
header{
    text-align: center;
    background-color: rgba(6, 125, 199, 0.749);
    font-family: Raleway;
    color: white;
    padding: 1em;
    margin-bottom:1vh;
}
header h1{
    font-size:4vh;
    text-transform: uppercase;
    margin-bottom: 1em;
}
header h1 span{
    
    background-color: white;
    color: rgba(6, 125, 199, 0.749);
}
header h2{
    color: black;
    font-size:3vh;
}
/* MAIN */
main{
    padding:2vh;
    
}
main h2{
    text-transform: uppercase;
    text-align: center;
    font-size:3vh;
    color: rgba(6, 125, 199, 0.749);
    margin:1vh;
}
main h3{
    margin:1vh;
    font-weight: bold;
    font-size:2vh
}
/* ELEMENTI NEL MAIN */
b{
    font-weight:bold;
}
mark{
    color:white;
    background-color:rgba(6, 125, 199, 0.749);
}
blockquote{
    background-color: rgba(128, 0, 128, 0.247);
    padding:1vh;
    border-radius:20px
}
figure img{
    width:30em;
    height:18em;
}
a{
    color:rgb(190, 43, 43);
}
figure{
    text-align: center;
}
/* FOOTER */
footer{
    background-color: rgb(63, 62, 62);
    color:beige;
    text-align: center;
    padding:1vh;
}
footer small{
    color:rgb(115, 113, 113);
    margin-bottom: 2vh;
}
footer kbd{
    color:yellow;
    font-style:italic;
    font-weight:bold;
}
